---
import Layout from '../layouts/default.astro';
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<Layout title="Blog">
	{posts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</Layout>
