---
import Layout from '../layouts/default.astro';
const page = "Mystjc"
---
<Layout page={page}>
		<div class="text-white">
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, in, itaque ipsa accusantium, quae aperiam sunt magni magnam doloremque assumenda molestiae aliquam enim doloribus excepturi minima possimus sed quia. Nostrum!</p>
		</div>
</Layout>
