---
const year = new Date().getFullYear();
---
<footer class="text-white">
  <div class="flex justify-center my-5">
    <p>© {year} Mystjc · <a href={`https://www.github.com/mystjc/mystjc.dev`}>Source Code</a></p>
  </div>
</footer>
