---
const year = new Date().getFullYear();
---
<footer>
  <div class="flex justify-center my-5">
    <p>© {year} Mystjc · <a class="hover:text-gray-500" href={"https://www.github.com/mystjc/mystjc.dev"}>Source Code</a></p>
  </div>
</footer>
