<header>
  <nav class="flex justify-center space-x-2 my-5">
    {[
      ['Home', '/'],
      ['About', '/about/'],
      ['Projects', '/projects/'],
      ['Blog', '/blog/'],
    ].map(([title, url]) => (
      <a class="hover:bg-gray-500 rounded-md px-3 py-1" href={url}>{title}</a>
    ))}
  </nav>
</header>
