<header>
  <nav class="flex justify-center space-x-2 my-4">
    {[
      ['Home', '/'],
      ['About', '/about/'],
      ['Projects', '/projects/'],
      ['Blog', '/blog/'],
    ].map(([title, url]) => (
      <a class="hover:underline underline-offset-4 px-4 py-2" href={url}>{title}</a>
    ))}
  </nav>
</header>
