---
import Meta from '../components/meta.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const {title} = Astro.props;
---
<html class="text-white bg-black mx-4" lang="en">
	<head>
		<Meta {title}/>
	</head>
	<body class="h-screen flex flex-col">
		<Header/>
    <main class="mx-auto sm:max-w-4xl xl:max-w-8xl flex-grow">
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
