---
import '../styles/page.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
const {page} = Astro.props;
---
<html lang="en" class="bg-gray-500">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{page}</title>
	</head>
	<body>
		<Header/>
    <slot/>
		<Footer/>
	</body>
</html>
